IADvenv/
lab1/.idea/
lab2/.idea/
lab3/katinalaba/
lab3/YOLOv5/*

!lab3/YOLOv5/yolov5/runs/
!lab3/YOLOv5/convertion.py
!lab3/YOLOv5/dataset.yaml
!lab3/YOLOv5/find.py
!lab3/YOLOv5/test_split.py
!lab3/YOLOv5/outputs/